/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    margin: 0px;
  }
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #f1f1f1;
    background-color: black;
    transition: 0.5s;
}

p {
    background-color: red;
}

body {
    margin: 0px;
}

