<ion-content >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8" size-xl="6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa exercitationem accusantium ab quaerat labore molestias earum distinctio culpa similique pariatur. Quasi inventore fuga sapiente commodi at consectetur vero a temporibus?
        Dicta ab, itaque quasi eum quo cum! Totam ad est inventore culpa provident nobis, obcaecati ratione corporis voluptate ex cupiditate doloremque laudantium? Cumque dolore necessitatibus dolor eius totam provident voluptatibus?
        Doloremque voluptatibus quis itaque, id laboriosam eveniet ratione. Deserunt illo ipsa repudiandae tempore tenetur minima totam. Maxime ipsum eaque asperiores aliquid magnam, ut reiciendis quis vero error quos voluptatibus facere.
        Aut tempore exercitationem voluptatum fuga in deserunt a laboriosam, omnis ipsa est voluptas ex voluptates error asperiores obcaecati sit impedit quasi tenetur odio ea temporibus! Doloremque esse soluta culpa nam!
        Delectus amet porro deleniti, repudiandae suscipit aperiam, nobis consectetur libero veniam praesentium temporibus ab hic nihil possimus quae officia maiores eveniet magnam optio enim numquam eius. Excepturi et explicabo nobis?
        Necessitatibus numquam cum nesciunt sequi corrupti at, excepturi sunt, quae natus ut illum culpa, voluptates placeat. Laudantium, eveniet, animi quasi eligendi dolore sit nobis perferendis quaerat possimus asperiores beatae quibusdam!
        Repellendus consequuntur dolores molestiae earum quisquam iusto quaerat quia, alias mollitia laudantium? Cum eum odit ipsum? Aliquid culpa laboriosam praesentium suscipit, expedita aliquam eius facilis ratione. Nulla explicabo saepe nobis.
        Repellendus ut earum voluptatibus sequi nulla magni, voluptas laboriosam ea tempora quisquam maxime eveniet itaque aliquam eos excepturi ipsam assumenda porro. Obcaecati tempora delectus id vel optio itaque neque pariatur?
        Ad commodi minus laudantium mollitia perspiciatis voluptatum, et quibusdam reprehenderit obcaecati iste ipsam saepe dicta est tempora inventore! Vero itaque mollitia et facilis iusto ut expedita neque ipsam nobis minus?
        Atque soluta ipsa, cupiditate mollitia similique nesciunt, aut pariatur ullam quas quod itaque repudiandae reprehenderit vitae ducimus quibusdam sed recusandae quam omnis nulla facilis odio assumenda dicta. Quam, quas itaque?
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

